/*
 * Base structure
 */
body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

/*
 * Typography
 */
h1 {
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

.imgButton {
	padding-top: 25px;
	text-align: center;
	width: 100%;
}

/*
 * Jumbotron
 */
.jumbotron {
	position: centre;
	top: 50px;
	bottom: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidenav .nav-logout {
	border-radius: 1;
	top: 400;
}

.table-wrapper {
	position: relative;
}

.table-scroll {
	height: 580px;
	overflow: auto;
}

.table-wrapper .table {
	width: 100%;
}

.table-wrapper .table .thead .th .text {
	position: absolute;
	top: -20px;
	z-index: 2;
	height: 20px;
	width: 35%;
}

/*
 * Footer
 */
footer {
	background-color: #555;
	color: white;
	position: relative;
	height: 50px;
	margin-top: 15px;
	padding-top: 15px;
}